@import "../GlobalStyle.module.less";

.container {
  width: 100%;
  height: 100vh;
  background-color: @mainGray;
  .menuBar {
    width: 100%;
    height: 65px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    .menuBarItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;

      height: 100%;
    }
    .menuBarItem:nth-child(1) {
      button {
        display: flex;
        justify-content: left;
      }
    }
  }
  .chatRoomList {
    width: 100%;
    height: calc(100% - 65px);
    box-sizing: border-box;
    background-color: @mainGray;
    overflow: auto;
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      .chatRoomListGroup {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
      }
      .chatRoomDate {
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        color: @subBlue;
        font-weight: bold;
      }
      .chatRoom {
        width: 100%;
        height: 3rem;
        background-color: @mainGray;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        .chatRoomLink {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: darken(@mainWhite, 70%);
          display: flex;
          align-items: center;
        }
        &:hover {
          background-color: darken(@mainGray, 3%);
          cursor: pointer;
        }
      }
      .loading {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
